<nav class="navbar navbar-expand-lg navbar-dark nav-background">
  <a class="navbar-brand" href="/login">Bodylicious</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light nav2-background">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diary">Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/my-goals">Goals</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container login">
  <div class="row">
    <div class="col-md-4">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p>
      <br><br>

      <div class="row">
        <div class="col-2">
          <img class="icons" src="/images/notepad.png">
        </div>

        <div class="col-10">
          <h5> TRACK FOOD </h5>
          <p>Track your meals with our food database + tracking tools.<p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-2">
          <img class="icons" src="/images/graph.png">
        </div>

        <div class="col-10">
          <h5> SET A GOAL</h5>
          <p>And start making the change you want.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-2">
          <img class="icons" src="/images/phone.png">
        </div>

        <div class="col-10">
          <h5> CONNECT APPS & DEVICES</h5>
          <p>Connect devices, fitness trackers and apps.<p>
        </div>
      </div>

    </div>


    <div class="col-md-8">
      <h2 class="h2login">Login</h2>
      <form action="/login" method="POST" id="form-container" class="logintitle">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="Your username" class="form-control inputs">

        <br><br>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Your password" class="form-control inputs">
        <br>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <br><br>

        <button class="btn btn-dark coolbutton centerlogin">Login</button>
        <small class="account-message form-text text-muted">
          Don't have an account yet?
          <a href="/signup">Signup</a>
        </small>
      </form>

    </div>
  </div>
</div>