<div class="container login">
  <div class="row">
    <div class="col-md-6">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p>
    </div>
    <div class="col-md-6">
      <h2>Login</h2>

      <form action="/login" method="POST" id="form-container">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="JonSnow" class="form-control">

        <br><br>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Your password" class="form-control">
        <br>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <br><br>

        <button class="btn btn-dark">Login</button>
        <small class="account-message form-text text-muted">
          Don't have an account yet?
          <a href="/signup">Signup</a>
        </small>
      </form>

    </div>
  </div>
</div>