<div class="container sigunp">
  <div class="row">
    <div class="col-md-12">
      <form action="/signup" method="POST" id="form-container">
        <div class="row">
          <div class="col-md-6">
            <h2>Signup</h2>
            <label for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="Your username" class="form-control">

            <br>

            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Your password" class="form-control">
            <br>

            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Your email" class="form-control">
            <br>

            <label for="gender">Gender</label>
            <select id="gender" type="text" name="gender" placeholder="Your gender" class="form-control">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
            <br>

            <label for="age">Age</label>
            <input id="age" type="number" name="age" placeholder="Your age" class="form-control">
            <br>
          </div>
          <div class="col-md-6">
            <h2>Your goals</h2>
            <label for="calories">Calories</label>
            <input id="calories" type="number" name="calories" placeholder="Your calories" class="form-control">
            <br>

            <label for="proteins">Proteins</label>
            <input id="proteins" type="number" name="proteins" placeholder="Your proteins" class="form-control">
            <br>

            <label for="carbohydrates">Carbohydrates</label>
            <input id="carbohydrates" type="number" name="carbohydrates" placeholder="Your carbohydrates"
              class="form-control">
            <br>

            <label for="fats">Fats</label>
            <input id="fats" type="number" name="fats" placeholder="Your fats" class="form-control">
            <br>
          </div>
        </div>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <br><br>

        <button class="btn btn-dark">Create account</button>

        <small class="account-message form-text text-muted">
          Do you already have an account?
          <a href="/">Login</a>
        </small>
      </form>
    </div>
  </div>
</div>