<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Signup</h2>
      <form action="/signup" method="POST" id="form-container">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="JonSnow" class="form-control">

        <br><br>

        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Your password" class="form-control">
        <br>

        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="Your email" class="form-control">
        <br>

        <label for="gender">Gender</label>
        <select id="gender" type="text" name="gender" placeholder="Your gender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <br>

        <label for="age">Age</label>
        <input id="age" type="number" name="age" placeholder="Your age" class="form-control">
        <br>


        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <br><br>

        <button class="btn btn-dark">Create account</button>

        <small class="account-message form-text text-muted">
          Do you already have an account?
          <a href="/">Login</a>
        </small>
      </form>
    </div>
  </div>
</div>