{{#with user}}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>My Account</h2>
      <hr>
      <ul>
        <li>Username: {{username}}</li>
        <br>
        <li>E-Mail: {{email}}</li>
        <br>
        <li>Age: {{age}}</li>
        <br>
        <li>Gender: {{gender}}</li>
      </ul>
      <a href="#" class="btn btn-dark">Edit</a>
    </div>
    <div class="col-md-6">
      <h2>Your daily summary</h2>
      <hr>
    </div>
  </div>
</div>
{{/with}}