<div class="container">
  <div class="center">
    <div class="row">
      <h1 class="title">Bodylicious</h1>
    </div>
    <div class="row">
      <a href="/login" class="btn btn-dark move" id="start-btn">Time to make a change</a>
    </div>
  </div>
  <video autoplay muted loop id="myVideo">
    <source src="/videos/food.mp4" type="video/mp4">
  </video>
</div>