<div class="container">
  <div class="row justify-content-center">
    <h1>Bodylicious</h1>
  </div>
  <div class="row justify-content-center">
    <a href="/login" class="btn btn-dark">Time to make a change</a>
  </div>
  <video autoplay muted loop id="myVideo">
    <source src="/videos/food.mp4" type="video/mp4">
  </video>
</div>