body {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	// background: white url('/images/foodBG.jpg') no-repeat fixed center;
	// background-size: cover;
}

main {
	padding: 40px 0;
}

h1,
h2,
h4,
h5 {
	font-weight: 300;
}

a {
	color: black;
}

ul {
	list-style: none;
}

.list-btn {
	border: 0px;
	background: transparent;
}

.display-none {
	display: none;
}

.nav-background {
	background-color: transparent;
}

.nav2-background {
	background-color: transparent;
}

.td {
	background-color: transparent;
}

.logo {
	width: 200px;
	height: 150px;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	filter: grayscale(100%);
}

.bg-bar-protein {
	background-color: rgba(79, 202, 184, 1);
}

.bg-bar-fats {
	background-color: rgba(243, 102, 117, 1);
}

.bg-bar-carbs {
	background-color: rgba(115, 107, 250, 1);
}

.progress-bar {
	width: 0;
	animation: progress 1.5s ease-in-out forwards;
}

@keyframes progress {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
