<div class="container">


  <h2>Add food</h2>

  <p>Search our food database by name</p>
  <!-- Search form -->
  <form action="/diary/add" method="post">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar comida" aria-label="Buscar comida"
        aria-describedby="basic-addon2" name="foodSearch" id="foodSearch">
      <div class="input-group-append">
        <button class="btn btn-dark">Buscar</button>
      </div>
    </div>
  </form>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity in grams</th>
      </tr>
    </thead>
    <tbody>
      {{#each foods}}
      <tr>
        <th scope="row"><input type="checkbox" name="check" id="check">{{ndbno}}</th>
        <td>{{name}}</td>
        <td><input type="number" value="0"></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>