<h2>Add food</h2>

<p>Search our food database by name</p>
<!-- Search form -->
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Buscar comida" aria-label="Buscar comida"
    aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-dark" type="button">Buscar</button>
  </div>
</div>


<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
    </tr>
  </tbody>
</table>