<nav class="navbar navbar-expand-lg navbar-dark nav-background">
  <a class="navbar-brand" href="/login">Bodylicious</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light nav2-background">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diary">Diary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/my-goals">Goals</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">


  <h2>Add food</h2>

  <p>Search our food database by name</p>
  <!-- Search form -->
  <form action="/diary/add" method="post">
    <div class="input-group mb-3">
      <input type="text" class="inputs" placeholder="Search foods" aria-label="Buscar comida"
        aria-describedby="basic-addon2" name="foodSearch" id="foodSearch">
      <div class="input-group-append">
        <button class="btn btn-dark coolbutton">Search</button>
      </div>
    </div>
  </form>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Quantity in grams</th>
        <th scope="col">Meal</th>
      </tr>
    </thead>
    <tbody>
      {{#each foods}}
      <form action="/diary/add/meal" method="post">
        <tr>
          <td scope="row"><input id="foodId" name="foodId" type="text" class="list-btn display-none" value="{{ndbno}}"
              readonly>
          </td>
          <td class="td foodnameinput"><button class="list-btn">{{name}}</button></td>
          <td class="quantity"><input type="number" value="0" id="quantity" name="quantity"
              class="form-control coolinput quantityinput"></td>
          <td>
            <select name="meals" id="meals" class="form-control coolinput quantityinput">
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
              <option value="Snacks">Snacks</option>
            </select>
          </td>
        </tr>
      </form>
      {{/each}}
    </tbody>
  </table>
</div>