<div class="container">
  <h2>Food Diary</h2>

  <div class='row'>
    <div clas='col-6'>
      <h4>Your Food Diary for:</h4>
    </div>

    <div clas='col-6'>
      <span class="btn btn-dark">{{date}}</span>
    </div>

  </div>
</div>

<hr>


<div class='row'>
  <div class='col-3'>
    <h5>Breakfast</h5>
    <a href='#'>Add food</a>
  </div>

  <div class='col-3'>
    <h5>Lunch</h5>
    <a href='#'>Add food</a>
  </div>

  <div class='col-3'>
    <h5>Dinner</h5>
    <a href='#'>Add food</a>
  </div>

  <div class='col-3'>
    <h5>Snacks</h5>
    <a href='#'>Add food</a>
  </div>

</div>


</div>