<div class="container">
  <h2>Food Diary</h2>

  <div class='row'>
    <div clas='col-6'>
      <h4>Your Food Diary for:</h4>
    </div>

    <div clas='col-6'>
      <span class="btn btn-dark">{{date}}</span>
    </div>

  </div>

  <hr>
  <h5>Breakfast</h5>

  <p>{{prueba.foodName}}</p>
  {{#each prueba.foodNutrients}}
  <p>{{name}}</p>
  <p>{{value}}</p>
  {{/each}}
  <a href='/diary/add'>Add food</a>
  <h5>Lunch</h5>
  <a href='/diary/add'>Add food</a>
  <h5>Dinner</h5>
  <a href='/diary/add'>Add food</a>
  <h5>Snacks</h5>
  <a href='/diary/add'>Add food</a>
</div>


</div>
</div>